body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  list-style-type: none !important;
}

.nplr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.npl {
  padding-left: 0 !important;
}
.npr {
  padding-right: 0 !important;
}

.nlr {
  left: 0 !important;
  right: 0 !important;
}
.nl {
  left: 0 !important;
}
.nr {
  right: 0 !important;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

abbr {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  abbr {
    color: #ffffff;
  }
}
